.debug * {
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #e9f0f7;
}

.main-wrapper {
    width: calc(100% - 60px);
    margin: 30px auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "box-1 box-1 box-2 box-3" "box-4 box-5 box-5 box-3";
    grid-gap: 30px;
}

@media screen and (max-width:1070px) {
    .main-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "box-1" "box-2" "box-4" "box-5" "box-3";
    }
}

@mixin white-card {
    .item-user {
        display: flex;
        align-items: center;
        width: 100%;
        height: fit-content;
    }
    .user-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        overflow: hidden;
        border: 2px solid rgba(0, 0, 0, 0.4);
        border-radius: 50%;
    }
    .user-name {
        h4 {
            color: black;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 4px;
        }
        h5 {
            color: rgba(0, 0, 0, 0.4);
            font-size: 14px;
            font-weight: 400;
        }
    }
    .item-message {
        width: 100%;
        p {
            font-size: 22px;
            color: black;
            margin: 22px 0;
        }
    }
    .item-comment {
        width: 100%;
        p {
            color: rgba(0, 0, 0, 0.4);
            font-size: 14px;
            line-height: 1.5em;
            text-align: justify;
        }
    }
}

@mixin colored-card {
    .item-user {
        display: flex;
        align-items: center;
        width: 100%;
        height: fit-content;
    }
    .user-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        overflow: hidden;
        border: 2px solid rgba(255, 255, 255, 0.4);
        border-radius: 50%;
    }
    .user-name {
        h4 {
            color: white;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 4px;
        }
        h5 {
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            font-weight: 400;
        }
    }
    .item-message {
        width: 100%;
        p {
            font-size: 22px;
            color: white;
            margin: 22px 0;
        }
    }
    .item-comment {
        width: 100%;
        p {
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            line-height: 1.5em;
            text-align: justify;
        }
    }
}

.item {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 10px 10px -8px gray;
    &:nth-child(1) {
        grid-area: box-1;
        background: #6b47c1;
        @include colored-card();
    }
    &:nth-child(2) {
        grid-area: box-2;
        background: #4b5569;
        @include colored-card();
    }
    &:nth-child(3) {
        grid-area: box-3;
        background: white;
        @include white-card();
    }
    &:nth-child(4) {
        grid-area: box-4;
        background: white;
        @include white-card();
    }
    &:nth-child(5) {
        grid-area: box-5;
        background: #19202c;
        @include colored-card();
    }
}